<!-- Footer -->
<footer>
    <hr class="mt-10 dark:border-gray-500"/>
    <div class="container px-6 py-8 mx-auto">
        <div class="grid justify-items-center">
            <div class="flex justify-center my-4">{% include social.html %}</div>
            <div class="text-center text-gray-800">
                <div>
                    &copy;
                    {{ site.title }}
                    {{ site.time | date: '%Y' }}
                </div>
                <div>
                    Made by
                    <a class="text-gray-600" href="{{ site.url }}">ntsd</a>
                    {% if site.github_btn %}
                        |
                        <iframe title="{{ site.github_btn }}" style="margin-bottom: -5px" frameborder="0" scrolling="0" width="80px" height="20px" src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ site.github_btn }}&type=star&count=true"></iframe>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Service Worker -->
{% if site.service-worker %}
<script async>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/assets/js/sw.js');
}
</script>
{% endif %}

<!-- Google Analytics -->
{% if site.ga_track_id %}
    <script>
  var _gaId = "{{ site.ga_track_id }}";
  var _gaDomain = "{{ site.ga_domain }}";

  (function (i, s, o, g, r, a, m) {
    i["GoogleAnalyticsObject"] = r;
    (i[r] =
      i[r] ||
      function () {
        (i[r].q = i[r].q || []).push(arguments);
      }),
      (i[r].l = 1 * new Date());
    (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m);
  })(
    window,
    document,
    "script",
    "https://www.google-analytics.com/analytics.js",
    "ga"
  );
  ga("create", _gaId, _gaDomain);
  ga("send", "pageview");
</script>
{% endif %}
