<!-- Footer -->
<footer>
  <hr class="mt-10 dark:border-gray-500" />
  <div class="container px-4 py-8 mx-auto">
    <div class="grid grid-cols-12 text-gray-800">
      <div class="col-span-6 justify-left">{% include social.html %}</div>
      <div class="col-span-6 text-right">
        <div>&copy; {{ site.title }} {{ site.time | date: '%Y' }}</div>
        <!-- <div>
          Made by
          <a class="text-gray-600" href="{{ site.url }}">ntsd</a>
          {% if site.github_btn %} |
          <iframe
            title="{{ site.github_btn }}"
            style="margin-bottom: -5px"
            frameborder="0"
            scrolling="0"
            width="80px"
            height="20px"
            src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ site.github_btn }}&type=star&count=true"
          ></iframe>
          {% endif %}
        </div> -->
      </div>
    </div>
  </div>
</footer>

<!-- Service Worker -->
{% if site.service-worker %}
<script type="text/runtime-javascript" async>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/sw.js').catch((err) => {
      console.error("service worker register error:", err);
    });

    navigator.serviceWorker.onmessage = (e) => {
      const data = e.data;

      if(data.command == "UPDATE_FOUND"){
        console.log("UPDATE_FOUND_BY_SW", data);
        location.reload();
      }
    };
  }
</script>
{% endif %}

<!-- Google Analytics -->
{% if site.ga_track_id %}
<script type="text/runtime-javascript">
  async(
    "https://www.googletagmanager.com/gtag/js?id={{ site.ga_track_id }}",
    function () {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());

      gtag("config", "{{ site.ga_track_id }}");
    },
    2000,
    false
  );
</script>
{% endif %}
