<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" name="google-site-verification"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta name="keywords" content="{{ site.keyword }}"/>
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}"/>
    <meta content="script-src 'self' 'unsafe-inline' giscus.app *.jsdelivr.net *.google-analytics.com; object-src 'none';base-uri 'none';" http-equiv="Content-Security-Policy"/>

    {% seo %}

    <!-- preconnect & dns-prefetch -->
    <link href="https://cdn.jsdelivr.net" rel="preconnect"/>
    {% if site.ga_track_id %}
        <link href="https://www.google-analytics.com" rel="preconnect"/>
    {% endif %}
    {% if site.github_btn %}
        <link href="https://api.github.com" rel="preconnect"/>
    {% endif %}
    <!-- Styles -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css"/>
    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/pwa/manifest.json" async/>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/pwa/icons/icon-min.svg" async/>
    <!-- apple-touch-icon -->
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/pwa/icons/icon-min.svg" async/>

    <!-- async load function async(url, callback, delay) -->
    <script>
    function async(u, c, t, p) {
      function l() {
        var d = document,
          s = "script",
          o = d.createElement(s),
          e = d.getElementsByTagName(s)[0];
        o.src = u;
        o.async = true;
        if (p) {
          o.setAttribute("data-post-js", true);
        }
        if (c) {
          o.addEventListener(
            "load",
            function (e) {
              c(null, e);
            },
            false
          );
        }
        e.parentNode.insertBefore(o, e);
      }
      if (t) {
        setTimeout(l, t);
      } else {
        l();
      }
    }
  </script>
  <!-- <script>
    function asyncStyle(u) {
      var d = document,
        t = "link",
        o = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
      o.href = u;
      o.rel = "stylesheet";
      o.async = true;
      s.parentNode.insertBefore(o, s);
    }
  </script> -->
</head>
