<!-- Navigation -->
<nav class="bg-white shadow sticky top-0 z-50">
    <div class="px-6 py-4 mx-auto lg:flex lg:justify-between lg:items-center">
        <div class="lg:flex lg:items-center">
            <div class="flex items-center justify-between">
                <div>
                    <a class="text-2xl font-bold text-gray-800 lg:text-3xl hover:text-gray-700" href="{{ site.baseurl }}/">{{ site.title }}</a>
                </div>

                <!-- Mobile menu button -->
                <div class="flex lg:hidden">
                    <button aria-label="toggle menu" class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600" id="nav-toggle" type="button">
                        <svg class="w-6 h-6 fill-current" viewbox="0 0 24 24">
                            <path d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" fill-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="flex flex-col text-gray-600 capitalize lg:flex lg:px-16 lg:-mx-4 lg:flex-row lg:items-center md:hidden" id="nav-left">
                <a class="mt-2 lg:mt-0 lg:mx-4 hover:text-gray-900" href="{{ site.baseurl }}/">HOME</a>
                {% for page in site.pages %}
                    {% if page.title %}
                        {% unless page.pagination_info %}
                            <a class="mt-2 lg:mt-0 lg:mx-4 hover:text-gray-900 uppercase" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                        {% endunless %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="flex justify-center mt-6 lg:flex lg:mt-0 lg:-mx-2 md:hidden" id="nav-right">
            {% include social.html %}
        </div>
    </div>
</nav>
<script>
  var toggle = document.querySelector("#nav-toggle");
  var navLeft = document.querySelector("#nav-left");
  var navRight = document.querySelector("#nav-right");

  var nav = {
    close: function () {
      navLeft.classList.add("md:hidden");
      navRight.classList.add("md:hidden");
      toggle.classList.remove("nav-open");
    },
    open: function () {
      navLeft.classList.remove("md:hidden");
      navRight.classList.remove("md:hidden");
      toggle.classList.add("nav-open");
    },
  };

  toggle.addEventListener("click", function (e) {
    if (toggle.className.indexOf("nav-open") > 0) {
      nav.close();
    } else {
      nav.open();
    }
  });
</script>
