<div class="lg:py-4 lg:px-6 mx-auto bg-white lg:shadow-lg flex flex-col w-full">
    <div class="flex items-center justify-between">
        <time class="text-xs font-light text-gray-600">{{ project.since }}</time>
    </div>

    <div class="mt-2">
        <div class="text-xl font-bold text-gray-900 hover:text-gray-800">{{ project.name }}
        </div>
        <p class="font-bold text-gray-500">
            {{ project.description }}
        </p>
    </div>

    <div class="flex items-center mt-auto">
        <div class="flex flex-row items-center mt-8 justify-between w-full">
            <div class="flex text-xs font-bold">
                {% for stack in project.stacks %}
                {{ stack }}
                {% endfor %}
            </div>
            <div class="flex text-sm gap-2">
                {% if project.web %}
                <a aria-label="Website" class="text-gray-600 hover:text-gray-400" href="{{ project.web }}"
                    rel="noopener noreferrer" target="_blank">
                    {% include icon_web.html %}
                </a>
                {% endif %}
                {% if project.github %}
                <a aria-label="Github" class="text-gray-600 hover:text-gray-400"
                    href="https://github.com/{{ project.github }}" rel="noopener noreferrer" target="_blank">
                    {% include icon_github.html %}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<hr class="dark:border-gray-500 lg:hidden" />
