---
layout: page
title: "Blog"
permalink: /blog/
pagination: 
  enabled: true
sideBar: true
---

<div class="divide-y">
    {% for post in paginator.posts %}
        <div class="py-12 mx-auto bg-white">
            <div class="flex items-center justify-between">
                <time class="text-sm font-light text-gray-600" datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</time>
                {% for category in post.categories %}
                    <a class="px-2 py-1 text-sm font-bold text-gray-100 transition-colors duration-200 transform bg-gray-800 cursor-pointer hover:bg-gray-600" href="{{ site.baseurl }}/categories/#{{ category }}" title="{{ category }}">{{ category }}</a>
                {% endfor %}
            </div>

            <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="mt-2">
                    <div class="text-xl font-bold text-gray-900 hover:text-gray-800 hover:underline">{{ post.title }}</div>
                    {% if post.subtitle %}
                        <p class="font-bold text-gray-500">
                            {{ post.subtitle }}
                        </p>
                    {% endif %}
                    <p class="mt-2 text-gray-600">
                        {{ post.content | strip_html | truncate:200 }}
                    </p>
                </div>
            </a>

            <div class="flex items-center justify-end mt-4">
                <div class="flex items-center text-sm">
                    <span class="text-gray-600">Posted by&nbsp;</span>
                    <a class="font-bold text-gray-700 cursor-pointer" href="#">
                        {% if post.author %}
                            {{ post.author }}
                        {% else %}
                            {{ site.title }}
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Pagination -->
{% if paginator.total_pages > 1 %}
    <div class="grid justify-items-end md:justify-items-center">
        <div class="flex">
            {% if paginator.previous_page %}
                <a class="flex items-center px-4 py-2 mx-1 text-gray-700 transition-colors duration-200 transform bg-white hover:bg-gray-600 hover:text-white" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previous</a>
            {% else %}
                <a class="flex items-center px-4 py-2 mx-1 text-gray-500 bg-white pointer-events-none" href="#">Previous</a>
            {% endif %}
            {% if paginator.page_trail %}
                {% for trail in paginator.page_trail %}
                    {% if page.url == trail.path %}
                        <a class="flex items-center px-4 py-2 mx-1 transition-colors transform bg-gray-800 text-white pointer-events-none" href="#" title="{{trail.title}}">{{ trail.num }}</a>
                    {% else %}
                        <a class="flex items-center px-4 py-2 mx-1 text-gray-700 transition-colors duration-200 transform bg-white hover:bg-gray-600 hover:text-white" href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if paginator.next_page %}
                <a class="flex items-center px-4 py-2 mx-1 text-gray-700 transition-colors duration-200 transform bg-white hover:bg-gray-600 hover:text-white" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
            {% else %}
                <a class="flex items-center px-4 py-2 mx-1 text-gray-500 bg-white pointer-events-none" href="#">Next</a>
            {% endif %}
        </div>
    </div>
{% endif %}