---
layout: page
title: "Categories"
permalink: /categories/
catalog: false
---

<div>
    <ul>
        {% for category in site.categories %}
            <h1 class="text-4xl my-4 category-title" id="{{category | first}}">{{category | first}}</h1>
            {% for posts in category  %}
                {% for post in posts %}
                    {% if post.url %}
                        <li>
                            <a class="hover:text-gray-600" href="{{ post.url | prepend: site.baseurl }}">
                               {{ post.date | date:"%F" }} {{ post.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>

{% if site.anchorjs %}
    <script type="text/javascript" data-post-js="true">
    async(
        "https://cdn.jsdelivr.net/npm/anchor-js@4.3.1/anchor.min.js",
        function () {
            anchors.options = {
                visible: "always",
                placement: "right",
                icon: '',
            };
            anchors.add(".category-title");
        },
        0,
        true
    );
    </script>
    <style>
        .anchorjs-link {
            color: #777 !important;
            text-decoration: none !important;
        }
        .anchorjs-link:hover {
            color: #000 !important;
        }
        .anchorjs-link::before {
            content: "#";
        }
    </style>
{% endif %}
