---
layout: page
title: "Categories"
permalink: /categories/
catalog: false
---

<div>
    <ul>
        {% for category in site.categories %}
            <h1 class="text-4xl my-4" id="{{category | first}}">{{category | first}}</h1>
            {% for posts in category  %}
                {% for post in posts %}
                    {% if post.url %}
                        <li>
                            <a class="hover:text-blue-600" href="{{ post.url | prepend: site.baseurl }}">
                               {{ post.date | date:"%F" }} {{ post.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>
