---
layout: page
title: "Projects"
description: "— Made with Passion"
permalink: /projects/
sideBar: false
---

<div class="flex flex-col divide-y">
    <section class="pt-8 pb-24">
        <div class="text-4xl font-semibold text-gray-900 mb-8 text-center">Featured Projects</div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            {% for project in site.data.featured-projects %}
            {% include project.html %}
            {% endfor %}
        </div>
    </section>
    <section class="py-24">
        <div class="text-4xl font-semibold text-gray-900 mb-8 text-center">Projects</div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            {% for project in site.data.projects %}
            {% include project.html %}
            {% endfor %}
        </div>
    </section>
</div>
