---
layout: page
title: Tags
permalink: /tags/
---

<!-- Main Content -->
<div>
    <!-- Tags List -->
    <div class="w-full h-72 my-8" id="tag-cloud"></div>
    <!-- Topic on tags -->
    {% for tag in site.tags %}
        <div class="py-4">
            <span class="text-2xl font-bold" id="{{ tag[0] }}">{{ tag[0] }}</span>
            <div class="divide-y">
                {% for post in tag[1] %}
                    <div class="py-4 text-gray-800 hover:text-gray-500">
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            <h2 class="font-bold">
                                {{ post.title }}
                                <time class="text-sm font-light text-gray-600" datetime="{{ post.date | date:"%Y-%m-%d" }}">&nbsp;{{ post.date | date:"%Y-%m-%d" }}</time>
                            </h2>
                            {% if post.subtitle %}
                                <h3 class="font-light">
                                    {{ post.subtitle }}
                                </h3>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<script>
    async("https://cdn.jsdelivr.net/npm/wordcloud@1.2.2/src/wordcloud2.min.js", function () {
        let tagArray = new Array();
        
        {% for tag in site.tags %}
            tagArray.push(['{{ tag[0] }}', {{ tag[1].size }}]);
        {% endfor %}

        const tagWrapper = document.querySelector("#tag-cloud");
        WordCloud(tagWrapper, {
            list: tagArray,
            weightFactor: 25,
            classes: "tag-cloud-item",
        });

        tagWrapper.addEventListener('wordcloudstop', function (e) {
            document.querySelectorAll('.tag-cloud-item').forEach(function (element) {
                const text = element.innerHTML;
                element.innerHTML = `<a href="#${text}" class="hover:text-gray-500">${text}</a>`;
            });
        });
    });
</script>