---
layout: default
---

<!-- Page Header -->
<style type="text/css">
  header .header-bg {
    background-image: url("{% if page.header-img %}{{ site.baseurl }}/{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}");
  }
</style>
<header>
  <div
    class="w-full bg-center bg-cover bg-black header-bg backdrop-brightness-75"
  >
    <div class="container mx-auto">
      <div class="text-left text-white py-24 px-4">
        <span>
          {% for stack in page.stacks %}
          <a
            class="text-sm py-1 px-2 inline-block border border-white hover:bg-gray-600"
            href=""
            title="{{ stack }}"
            >{{ stack }}</a
          >
          {% endfor %}
        </span>
        <h1 class="text-2xl lg:text-4xl mt-4">
          {% if page.title %} {{ page.title }} {% else %} {{ site.title }} {%
          endif %}
        </h1>
        <span class="text-xs font-light text-gray-300 mb-4">
          <time>{{ page.since }}</time>
        </span>
        {% if page.description %}
        <h2 class="lg:text-xl my-4">{{ page.description }}</h2>
        {% else %}
        <h2 class="lg:text-xl my-4">{{site.description}}</h2>
        {% endif %}
        <div class="flex gap-2">
          {% if page.web %}
          <a
            aria-label="Website"
            class="text-white hover:text-gray-400"
            href="{{ page.web }}"
            rel="noopener noreferrer"
            target="_blank"
          >
            {% include icon_web.html %}
          </a>
          {% endif %} {% if page.github %}
          <a
            aria-label="Github"
            class="text-white hover:text-gray-400"
            href="https://github.com/{{ page.github }}"
            rel="noopener noreferrer"
            target="_blank"
          >
            {% include icon_github.html %}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container mx-auto grid grid-cols-12 p-4 lg:space-x-8">
  <div class="col-span-12">
    <div class="post-container prose max-w-none">
      {% if page.readme %} {{ page.readme | http_request: 'GET', '', '' |
      markdownify }} {% endif %}
    </div>
  </div>
</div>

<div id="read-progress"></div>
